<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'gestionEmpleados/css/style.css' %}">
    <link rel="icon" href="{% static 'gestionEmpleados/img/favicon.png' %}" type="png" sizes="16px">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% include 'superior/navbar.html' %}
    {% block localNavBar %}{% endblock  %}
    
    <div class="container">
        <!-- {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %} -->
        {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        
        {% block content %}
        {% endblock %}

    </div>

    {% include 'superior/footer.html' %}

</body>

</html>