{% extends 'gestionEmpleados/sectores.html' %}
{% block title %} Crear sector {% endblock %}
{% block content %}
<div class="card">
    <div class="card-body table-dark">
        <form class="table table-dark" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form_sector.as_table}}
            </table>
            <input class="btn btn-warning" type="submit" value="Ingresar sector">
        </form>
    </div>
</div>
{% endblock %}