{% extends 'gestionEmpleados/empleados.html' %}
{% block title %} Editar empleado {% endblock %}
{% block content %}
<div class="card">
    <div class="card-body table-dark">
        <form class="table table-dark" action="{% url 'Editar empleado' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form_empleado.as_table}}
            </table>
            <input class="btn btn-warning" type="submit" value="Confirmar cambios">
            <a id="btnCancel" class="btn btn-warning" href="{% url 'Empleados' %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}