{% extends 'gestionEmpleados/empleados.html' %}
{% block title %} Crear empleado {% endblock %}
{% block content %}
{% for empleado in empleado %}    
<div class="card">
    <div class="card-body table-dark">
        <form class="table table-dark" action="/editar_empleado/" method="POST">
            <label for="nombre" style="width: 150px;">Nombre completo: </label>
            <input type="text" name="nombre" id="nombre" value="{{empleado.apellido_nombre}}">
            <br>
            <label for="foto">foto: </label>
            <input type="file" name="foto" id="foto" value="{{empleado.foto}}">
            <br>
            <label for="fecha_nac">Fecha nacimiento: </label>
            <input type="datetime" name="fecha_nac" id="fecha_nac" value="{{empleado.fecha_nac}}">
            <br>
            <label for="dni">DNI: </label>
            <input type="text" name="dni" id="dni" value="{{empleado.dni}}">
            <br>
            <label for="telefono">Telefono: </label>
            <input type="text" name="telefono" id="telefono" value="{{empleado.telefono}}">
            <br>
            <label for="correo">email: </label>
            <input type="email" name="correo" id="correo" value="{{empleado.correo}}">
            <br>
            <label for="direccion">Dirección: </label>
            <input type="text" name="direccion" id="direccion" value="{{empleado.direccion}}">
            <br>
            <label for="fecha_ing">Fecha ingreo: </label>
            <input type="datetime" name="fecha_ing" id="fecha_ing" value="{{empleado.fecha_ingreso}}">
            <br>
            <label for="fecha_baja">Fecha baja: </label>
            <input type="datetime" name="fecha_baja" id="fecha_baja" value="{{empleado.baja}}">
            <br>
            <label for="puesto">Puesto: </label>
            <input type="text" name="puesto" id="puesto" value="{{empleado.puesto}}">
            <br>
            <label for="vehiculo">Vehículo: </label>
            <input type="text" name="vehiculo" id="vehiculo" value="{{empleado.vehiculo}}">
            <br>
            <label for="recinto">Recinto: </label>
            <input type="recinto" name="recinto" id="recinto" value="{{empleado.recinto}}">
            <br>
            <input type="hidden" name="activo" value=True>

            <input class="btn btn-warning" type="submit" value="Confirmar cambios">
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}